<div class="content-box">
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_names %><br />
    <%= f.text_field :middle_names %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please note, you must be over 18 years of age to use this service.</span><br />
    <%= f.date_select :date_of_birth, :order => [:day, :month, :year], :start_year => 1900, :end_year => Time.now.year - 18 %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, ["", "Male", "Female"] %>
  </div>
  <div class="field">
    <%= f.label "House Name or Number" %><br />
    <%= f.text_field :address_1 %>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :address_2 %>
  </div>
  <div class="field">
    <%= f.label :town %><br />
    <%= f.text_field :town %>
  </div>
  <div class="field">
    <%= f.label :county %><br />
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :contact_number %><br />
    <%= f.text_field :contact_number %>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<br />

</div>
