<%= form_for(@funeral) do |f| %>
  <% if @funeral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funeral.errors.count, "error") %> prohibited this funeral from being saved:</h2>

      <ul>
      <% @funeral.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <script>
  	$(document).ready(function() {
  		$("#funeral_funeral_pref").change(function(){
  			if ($("#funeral_funeral_pref").val()=="Other"){
  				$("#other-pref").show(500);
  			} else {
  				$("#other-pref").hide();
  			};
  			if ($("#funeral_funeral_pref").val()=="Burial"){
  				$("#burial-loc").show(500);
  			} else {
  				$("#burial-loc").hide();
  			};
  			if ($("#funeral_funeral_pref").val()=="Cremation"){
  				$("#ashes-loc").show(500);
  			} else {
  				$("#ashes-loc").hide();
  			}; 
  		}).change()
  	});
  </script>
  <script>
  	$(document).ready(function(){
  		$('.field').tooltip('show');
  	})
  </script>
  	<%=f.hidden_field 'user_id', :value => current_user.id %>

  <div class="field" id="pref-select">
    <%= f.label :funeral_pref %><br />
    <%= f.select :funeral_pref, ["", "Burial", "Cremation", "Other"] %>
  </div>
  <div class="field" id="other-pref">
    <%= f.label "Other - please specify" %><br />
    <%= f.text_area :other_pref %>
  </div>
  <div class="field" id="burial-loc">
    <%= f.label :burial_location %><br />
    <%= f.text_area :burial_location %>
  </div>
  <div class="field" id="ashes-loc">
    <%= f.label :ashes_location %><br />
    <%= f.text_area :ashes_location %>
  </div>
  <div class="field" id="casket-pref">
    <%= f.label :casket_preference %><br />
    <%= f.text_area :casket_pref, :title => "Casket info would go here" %>
  </div>
  <div class="field" id="service-loc">
    <%= f.label :service_location %><br />
    <%= f.text_area :service_location %>
  </div>
  <div class="field" id="hymn-pref">
    <%= f.label :hymns_preference %><br />
    <%= f.text_area :hymns_pref %>
  </div>
  <div class="field" id="readings">
    <%= f.label :readings %><br />
    <%= f.text_area :readings %>
  </div>
  <div class="field">
    <%= f.label :speakers %><br />
    <%= f.text_area :speakers %>
  </div>
  <div class="field">
    <%= f.label :final_words %><br />
    <%= f.text_area :final_words %>
  </div>
  <div class="field">
    <%= f.label :dress_code %><br />
    <%= f.text_field :dress_code %>
  </div>
  <div class="field">
    <%= f.label :flowers %><br />
    <%= f.text_field :flowers %>
  </div>
  <div class="field">
    <%= f.label :donations_to %><br />
    <%= f.text_field :donations_to %>
  </div>
  <div class="field">
    <%= f.label :wake %><br />
    <%= f.text_area :wake %>
  </div>
  <div class="field">
    <%= f.label :epitaph %><br />
    <%= f.text_area :epitaph %>
  </div>
  <div class="field">
    <%= f.label :additional_requirements %><br />
    <%= f.text_area :additional_requirements %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
