<div class="content-box">
<h1>All Users</h1>

<p>There are <%= User.count %> users registered in total.</p>
<p>These users have created <%= Funeral.count %> funerals and <%= Timeline.count %> timelines.</p>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Date of birth</th>
    <th>Email</th>
    <th>Town</th>
    <th>Postcode</th>
    <th>Funeral?</th>
    <th>Timeline?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.date_of_birth %></td>
    <td><%= user.email %></td>
    <td><%= user.town %></td>
    <td><%= user.postcode %></td>
    <% if user.funeral.present? %>
    <td>Yes</td>
    <% else %>
    <td>No</td>
    <% end %>
    <% if user.timeline.present? %>
    <td>Yes</td>
    <% else %>
    <td>No</td>
    <% end %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Del', user, confirm: 'Are you sure you want to delete this user?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
</div>
