<br />
<h2>Edit your events</h2>
<h4>Click 'edit' next to the event that you want to change.</h4>

<table class="table table-hover">
  <tr>
  	<thead>
	    <th>Start date</th>
	    <th>Headline</th>
	    <th>Text</th>
	    <th>Media</th>
	    <th>Caption</th>
	    <th></th>
	</thead>
  </tr>

<% events.each do |event| %>
  <tr>
    <td><%= event.start_date.strftime("%d/%m/%Y") %></td>
    <td><%= event.headline.gsub(/^(.{50}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'} %></td>
    <td><%= event.text.gsub(/^(.{50}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'} %></td>
    <td><%= event.media.gsub(/^(.{50}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'} %></td>
    <td><%= event.caption.gsub(/^(.{50}[\w.]*)(.*)/) {$2.empty? ? $1 : $1 + '...'} %></td>
    <td><%= button_to 'Edit', edit_event_path(event), :method => "get", :class => "btn btn-info btn-mini", :id => event.id, :remote =>true %></td>
  </tr>
<% end %>
</table>