<div id="index-left">
	<%= image_tag 'sunset.png', :alt => 'sunset' %>
	<div id="left-info">
		Nobody likes to talk about it, yet it comes to us all. The one certainty in life is death, the only uncertainty being when.<br /><br />
		You may be terminally ill, with an idea of how much time you have left, yet none of us know that we won't be hit by that proverbial bus tomorrow. Your grieving loved ones may be overwhelmed by the responsibility of a fitting send-off. Now you can help lessen that burden with your "Last Request".<br /><br />
		Help family and friends to remember you how you would like to be remembered and to celebrate your life, rather than to mourn your passing.<br /><br />
		We all have a favourite piece of music or a place that is special to us, but do our nearest and dearest know what they are? Would they be able to recall such details when trying to come to terms with their loss?<br /><br />
		Were you the joker of the pack? Leave a message guaranteed to make 'em laugh, put the fun into funeral, do it your way!<br /><br />
		Create your "Last Request" today, should your tomorrow never come.
	</div>
</div>
<div id="index-right">
	<div id="login-box">
		<div id="login-form">
		<% if user_signed_in? %>
		<%= link_to 'My Account', :controller => "users", :action => "myaccount", :id => current_user.id %>
		<% else %>
		<% unless user_signed_in? %>
			<h2>Login</h2>
  			<%= form_for("user", :url => user_session_path) do |f| %>
 				<%= f.text_field :email, :size=>'20', :placeholder =>"Email" %><br />
  				<%= f.password_field :password, :size=>'20', :placeholder =>"Password" %><br />
  				<%= f.check_box :remember_me %>
  				<%= f.label :remember_me %><br />
  				<%= f.submit 'Sign in' %><br />
  				<%= link_to "Forgot your password?", new_password_path('user') %>
			<% end %>
		<% end %> 
		</div>
		<div id="register-button">
		<%= link_to('Register', new_user_registration_path, :id => "reg-button")  %>
		<p>To create your Last Request, sign up by clicking the registration button. It's easy &amp; quick and gives you access to all features.</p>
		<% end %>
		</div>
	</div>
	<div id="sample-box">
		<p><a href="#">Sample Request</a></p>
		<p>Click above to see a sample Last Request.</p>
	</div>
</div>
